body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f16cdf;
}
body{
    background-color: #35424a;
  }
header {
    background: #0b0c0e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    
}

main {
    padding: 20px;
}

section {
    background: #fff;
    margin: 15px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #0d0f10;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
header {
    background-color:linear-gradient(#ffdad5,#fff7f9);
    color: #faf5f5;
    padding:1px;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    size: xx-large;
}

header nav ul li {
    margin-right: 20px;
    
}

header nav a {
    color: #fbf7f7;
    text-decoration: none;
    gap: 20px;
    padding: 17px;
    
}
.a1:link{
    color:white;
}

.a1:hover{
    color:red;
    background-color: whitesmoke;
    
}
